body {
    background: #eee;
}

.App {
    background-color: #fff;
    max-width: 1400px;
    margin: 40px auto 0 auto;
}

/* container */
.Recommendation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Restaurant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    flex-basis: 45%;
}

.Carousel {

}

img {
    height: 200px;
    width: 200px;
}

.slick-list {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.Description {
    border: 1px solid black;
}