body {
    background: #f1f1f2;
}

.App {
    box-sizing: border-box;
    color: rgb(16, 24, 32);
    font-family: Calibre-Regular;
    max-width: 1480px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;

    text-size-adjust: 100%;

}

/* container */
.Recommendation {
    background: #f1f1f2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Restaurant {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px; */
    margin-bottom: 20px;
    flex-basis: 45%;
}

hr {
    border: .5px solid black;
}

#nearby {
    box-sizing: border-box;
    color: rgb(16, 24, 32);
    font-family: Calibre-Regular;
    font-size: 22px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.088px;
    line-height: 32px;
    max-width: 100%;
    text-size-adjust: 100%;
    padding-bottom: 20px;
    margin: 0;
}

.Carousel {

}
 
.slick-prev:before{
    font-size: 30px;
}

.slick-next:before {
    font-size: 30px;

}



img {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 200px;
    line-height: 24px;
    text-align: left;
    text-size-adjust: 100%;
    user-select: none;
    vertical-align: middle;
    width: 200px;
    z-index: -1;
}
.slick-slider {
    height: 200px;
}

.slick-list {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.Description {
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    color: rgb(16, 24, 32);
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: Calibre-Regular;
    font-size: 15px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0.195px;
    line-height: 20px;
    max-height: 100%;
    max-width: 60%;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    text-size-adjust: 100%;

}

.Description #name {
    color: rgb(16, 24, 32);
    cursor: pointer;
    font-family: Calibre-Medium;
    font-size: 18px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.548px;
    line-height: 20px;
    text-size-adjust: 100%;
    text-transform: uppercase;    
}

.Description #name:hover {
    border-bottom: 1px solid maroon;
}




.Description #bld {
    color: rgb(101, 102, 102);
    cursor: pointer;
    font-family: Calibre-Regular;
    font-size: 15px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.195px;
    line-height: 24px;
    text-size-adjust: 100%;
}
.Description #money {
    color: rgb(101, 102, 102);
    cursor: pointer;
    font-family: Calibre-Regular;
    font-size: 15px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.195px;
    line-height: 24px;
    text-size-adjust: 100%;
}
.Description #address {
    color: rgb(101, 102, 102);
    cursor: pointer;
    font-family: Calibre-Regular;
    font-size: 15px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.195px;
    line-height: 24px;
    text-size-adjust: 100%;
}
.Description #text {
    color: rgb(16, 24, 32);
    cursor: pointer;
    display: block;
    font-family: Calibre-Regular;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.195px;
    line-height: 20px;
    padding-top: 3px;
    text-size-adjust: 100%;
}