body {
    background: #f1f1f2;
}

.AppChad {
    box-sizing: border-box;
    /* color: rgb(16, 24, 32); */
    color: #333;
    font-family: Calibre-Regular;
    max-width: 1480px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    text-size-adjust: 100%;
    position: absolute;
    top: 2000px;
    left: 200px;
}

/* container */
.AppChad .Recommendation {
    background: #f1f1f2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.AppChad .Restaurant {
    /* background-color: white; */
    background-color: #fbfbfb ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 20px; */
    margin-bottom: 40px;
    flex-basis: 48.5%;
}

.AppChad hr {
    /* border: .5px solid black; */
    border: .5px solid  #333;
}

.AppChad #nearby {
    box-sizing: border-box;
    /* color: rgb(16, 24, 32); */
    color:  #333;
    font-family: Calibre-Regular;
    font-size: 22px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.088px;
    line-height: 32px;
    max-width: 100%;
    text-size-adjust: 100%;
    padding-bottom: 20px;
    margin: 0;
}

.AppChad .Carousel {
    
}

.AppChad .slick-arrow.slick-prev:before{
    /* color: black; */
    color: #333;
}

.AppChad .slick-arrow.slick-next:before{
    /* color: black; */
    color:  #333;
}
 
.AppChad .slick-prev:before {
    font-size: 27px;
}

.AppChad .slick-next:before {
    font-size: 27px;

}

.AppChad img {
    box-sizing: border-box;
    /* color: rgb(33, 37, 41); */
    color:  #333;
    display: block;
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 200px;
    line-height: 24px;
    text-align: left;
    text-size-adjust: 100%;
    user-select: none;
    vertical-align: middle;
    width: 200px;
    z-index: -1;
    object-fit: contain;
}

.AppChad #googleImg {
    height: 21px;
    width: 21px;
    display: inline-block;
    padding-left: 3px;
    border-left: 1px solid lightgrey;

}

.AppChad #googStar {
    font-size: 14px;
    color: lightgrey;
}

.AppChad .slick-slider {
    height: 200px;
}

.AppChad .slick-list {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.AppChad .Description {
    align-content: stretch;
    align-items: stretch;
    box-sizing: border-box;
    color: rgb(16, 24, 32);
    color:  #333;
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: Calibre-Regular;
    font-size: 13px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0.195px;
    line-height: 20px;
    max-height: 100%;
    max-width: 65%;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 20px;
    text-size-adjust: 100%;
}

.AppChad .Description #name {
    /* color: rgb(16, 24, 32); */
    color:  #333;
    cursor: pointer;
    font-family: Calibre-Medium;
    font-size: 18px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.548px;
    line-height: 20px;
    text-size-adjust: 100%;
    text-transform: uppercase;    
}

.AppChad .Description #name:hover {
    border-bottom: 1px solid maroon;
}

.AppChad .Description #bld {
    color: rgb(101, 102, 102);
    cursor: pointer;
    font-family: Calibre-Regular;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.195px;
    line-height: 24px;
    text-size-adjust: 100%;
    padding-top: 3px;
    padding-right: 3px;
    margin-top: 3px;
}

.AppChad .Description #money {
    color: rgb(101, 102, 102);
    cursor: pointer;
    font-family: Calibre-Regular;
    font-size: 15px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.195px;
    line-height: 24px;
    text-size-adjust: 100%;
}

.AppChad .Description #address {
    color: rgb(101, 102, 102);
    cursor: pointer;
    font-family: Calibre-Regular;
    font-size: 15px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.195px;
    line-height: 24px;
    text-size-adjust: 100%;
}

.AppChad .icon {
    color: #DC143C;
    text-transform: uppercase;
    font-size: 15px;
    font-famly: Calibre-Medium;
    margin-top: 3px;
    padding-top: 3px;
}

.AppChad .Description #text {
    color: rgb(16, 24, 32);
    color:  #333;
    cursor: pointer;
    display: block;
    font-family: Calibre-Regular;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.195px;
    line-height: 20px;
    padding-top: 3px;
    text-size-adjust: 100%;
}